/* navigation */
.logo {
  height: 3rem;
  border-radius: 50%;
  margin: 1.5rem;
}
.primaryNavbar {
  background: rgba(255, 255, 255, 0.473);
  height:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.primaryNavigation {
  display: flex;
}
.primaryNavigation li {
  list-style: none;

}
#navLinks{
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: rgb(31, 185, 31);
  font-size: 1rem;
  margin: .75em;
}
#navLinks:hover, #active{
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: rgb(196, 240, 191);
  font-size: 1rem;
}

@media (max-width: 35em) {
  .primaryNavigation{
    position: fixed;
    inset: 0 0 0 40%;
    background: rgba(255, 255, 255, 0.473);
    flex-direction: column;
    padding: min(30vh, 7rem) 2em;
    backdrop-filter: blur(1rem);
  }
  .primaryNavbar {
    background-color: transparent;
  }
}